@import "~bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "~susy/sass/susy";
@import "../layout";
@import "../colors";

@import "lab-tree";

$lab-observation-group-border: 1px solid #e2e2e2;
$lab-observation-group-bg: map-get($read-text-color, lighter);
$lab-observation-group-padding: 20px;

%table-container {
	display: table;
	width: 100%;
	height: 100%;
}

%table-column {
	@include susy-breakpoint($screen-tablet) {
		display: table-cell;
		width: 100%;
		height: 100%;
	}
}

%table-half-column {
	@include susy-breakpoint($screen-tablet) {
		display: table-cell;
		width: 49%;

		&:not(:last-child) {
			padding-right: 2%;
			padding-bottom: 0 !important;
		}
	}
}

%table-one-third-column {
	display: block;
	width: 100%;

	@include susy-breakpoint($screen-tablet) {
		display: table-cell;
		width: 33%;
	}
}
%table-two-third-column {
	display: table-cell;
	width: 66%;
}

.observation-groups {
	margin-bottom: 20px;
	display: table;
	width: 100%;
	height: 100%;
	max-width: 775px;
	border: $lab-observation-group-border;
	background-color: $lab-observation-group-bg;
	padding: $lab-observation-group-padding $lab-observation-group-padding 0;

	.observation-group-title {
		margin: 5px 0 15px !important;
	}

	.observation-gallery-wrapper {
		padding-bottom: 20px;
		@extend %table-container;

		.observation-gallery {
			vertical-align: top;
			@extend %table-column;

			&.half {
				@extend %table-half-column;

				&:not(:last-child) {
					padding-bottom: 20px;
				}
			}

			.lab-observation {
				height: 100%;
			}
		}
	}
}

.lab-diagnostic-report-observations {

	h1, h2, h3, h4 {
		font-family: "Helvetica", Arial, sans-serif;
	}
}

.lab-diagnostic-report-info {
	@extend %table-container;

	width: 100%;
	margin: 0px;
	text-align: left;

	@include susy-breakpoint($screen-tablet) {
		margin: 15px 0 20px;
		width: 78%;
		max-width: 775px;
	}

	a {
		color: $color-blue-lab;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.details-item-list {
		@extend %table-one-third-column;
		padding-left: 0;
		padding-right: 20px;
		margin: 0;
		word-break: break-all;
		list-style: none;
		font-size: $font-size-small;

		@include susy-breakpoint($screen-tablet) { 
			margin: 10px;
		}

		&.stretch {
			@extend %table-two-thirds-column;
		}

		&:nth-child(1) .details-item:first-child {
			border-top: none;
		}

		.details-item {
			padding: 10px 0 20px;
			text-align: left;
			position: relative;
			border-top: 1px solid #ededed;


			@include susy-breakpoint($screen-tablet) {
				padding: 10px 0;
				border-top: none;
			}

			.icon {
    			float: left;
				max-width: 25px;
    			max-height: 32px;
			}
			
			.item-wrapper {
			    position: relative;
			    top: 6px;
			    left: 10px;
			}
			.item-name {
				float: left;
    			display: table-column;
				color: map-get($read-text-color, regular);
				line-height: 1.5em;
    			word-break: normal;
			}

			.item-value {
    			line-height: 1.5em;
    			display: table-cell;
    			word-break: normal;
			}
		}
	}
}
