@import "~bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "~susy/sass/susy";
@import "../layout";
@import "../colors";

@import "lab-tree";

$lab-observation-group-border: 1px solid #e2e2e2;
$lab-observation-group-bg: map-get($read-text-color, lighter);
$lab-observation-group-padding: 20px;

$panel-layer-delta: 10;
$content-layer-index: 2;
$index-layer-index: 1;

.mobile-index {
	display: none;
	padding: 0;
	border-right: 1px solid #ccc;
	box-shadow: 0 4px 0 0 rgba(black, .4);
	background-color: white;

	.drawer-header {
		background-color: #1da1f2;
		color: white;
		padding: 10px;
		text-align: left;

		.drawer-header-title {
			font-size: 18px;
			margin: 0;
		}
	}

	.drawer-content {
		padding: 5px 10px 0;
		width: 100%;

		&.lab-tree {

			.lab-tree-node {
				&:not(.lab-tree-top-level) {
					display: block;
				}
			}
		}
	}
}

.mobile-drawer-handle {
	width: 100%;
	background-color: white;
	display: none;

	&.outside {
		position: absolute;
		top: 2px;
		left: 2px;
		z-index: 90;
		background-color: transparent;
	}

	&.positioned {
		display: block;
	}
}

.drawer-open-handle,
.drawer-close-handle {
	width: 25px;
	height: 25px;
}

.drawer-close-handle {
	float: right;
	margin-top: -3px;
}

.lab-content-wrapper {
	position: relative;
	z-index: $content-layer-index * $panel-layer-delta;

	&.non-scrollable-x {
		overflow-x: hidden;
	}
}

.mobile-index {
	position: relative;
	z-index: $index-layer-index * $panel-layer-delta;
}


%table-container {
	display: table;
	width: 100%;
	height: 100%;
}

%table-column {
	@include susy-breakpoint($screen-tablet) {
		display: table-cell;
		width: 100%;
		height: 100%;
	}
}

%table-half-column {
	@include susy-breakpoint($screen-tablet) {
		display: table-cell;
		width: 49%;

		&:not(:last-child) {
			padding-right: 2%;
			padding-bottom: 0 !important;
		}
	}
}

%table-one-third-column {
	display: block;
	width: 100%;

	@include susy-breakpoint($screen-tablet) {
		display: table-cell;
		width: 33%;
	}
}
%table-two-thirds-column {
	display: table-cell;
	width: 66%;
}

.observation-groups {
	border-bottom: $lab-observation-group-border;
	border-bottom-style: dotted;
	border-bottom-width: 2px;
	width: 100%;
	height: 100%;
	max-width: 775px;
	background-color: $lab-observation-group-bg;
	padding: $lab-observation-group-padding $lab-observation-group-padding 0;

	@include susy-breakpoint($screen-tablet) {

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		border: $lab-observation-group-border;
	}

	.observation-group-title-wrapper {
		margin: 5px 0 15px !important;

		.observation-group-title {
			margin: 0;
			text-align: left;
		}
	}

	.observation-group-title,
	.observation-gallery-header-text {
		font-weight: bold;
	}

	.observation-group-method {
		color: map-get($read-text-color, sub);
		font-weight: bold;
		font-size: 11px;
	}

	.observation-gallery-wrapper {
		padding-bottom: 20px;
		@extend %table-container;

		.observation-gallery {
			vertical-align: top;
			@extend %table-column;

			&.half {
				@extend %table-half-column;

				&:not(:last-child) {
					padding-bottom: 20px;
				}
			}

			.lab-observation {
				height: 100%;
			}
		}
	}
}

.lab-diagnostic-report-observations {

	h1, h2, h3, h4 {
		font-family: "Helvetica", Arial, sans-serif;
	}
}

.lab-diagnostic-report-info {
	@extend %table-container;
	width: 100%;
	margin: 0px;
	text-align: left;
	background-color: white;

	@include susy-breakpoint($screen-tablet) {
		margin: 15px 0 20px;
		width: 75%;
		max-width: 775px;
	}

	a {
		color: $color-blue-lab;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.details-item-list {
		@extend %table-one-third-column;
		padding-left: 0;
		padding-right: 0;
		margin: 0;
		word-break: break-all;
		list-style: none;
		font-size: $font-size-small;

		@include susy-breakpoint($screen-tablet) {
			padding-right: 20px;
			margin: 10px;
		}

		&:last-child {
			padding-right: 0;
		}

		&:nth-child(1) .details-item:first-child {
			border-top: none;
		}

		&.stretch {
			@extend %table-two-thirds-column;
		}

		.details-item {
			padding: 10px 10px 20px;
			text-align: left;
			position: relative;
			border-top: 1px solid #ededed;


			@include susy-breakpoint($screen-tablet) {
				padding: 10px 0;
				border-top: none;
			}

			.icon {
    			float: left;
				max-width: 25px;
    			max-height: 32px;
			}

			$item-icon-compensation: 10px;

			.item-wrapper {
				position: relative;
				top: 6px;
				left: $item-icon-compensation;
				margin-right: $item-icon-compensation;
			}

			.item-name {
				float: left;
    			display: table-column;
				color: map-get($read-text-color, regular);
				line-height: 1.5em;
    			word-break: normal;
			}

			.item-value {
    			line-height: 1.5em;
    			display: table-cell;
    			word-break: normal;
			}
		}
	}
}

.slideout-menu {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 0;
	width: 280px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.slideout-panel {
	position: relative;
	z-index: 1;
}

.slideout-open,
.slideout-open .slideout-panel {
	overflow: hidden;
}

.slideout-open .slideout-menu {
	display: block;
}
