@import "../variables";
@import "~susy/sass/susy";

$tree-node-selection-color: #333333;
$tree-node-selection-color-secondary: #888;
$nav-height: 20px;


.fix-tree .lab-tree {
	//margin: 10px 0;
	//height: 100%;

	.lab-tree-node {
		&:not(.lab-tree-top-level) {
			display: block;
		}
	}

	top: 0;
	bottom: 0;
	position: fixed;
	overflow-y: scroll;
	overflow-x: hidden;
}

.lab-tree {
	padding: 0 20px;
	position: absolute;
	display: none;

	@include susy-breakpoint($screen-tablet) {
		display: block;
	}

	.lab-tree-node {
		padding: 4px 0;

		&:not(.lab-tree-top-level) {
			display: none;
		}
	}

	.lab-tree-observation-group-title {
		font-size: 14px;
	}

	.lab-tree-observation-observation-title {
		font-size: 12px;
	}


	.lab-tree-top-level:not(.parent-active) {
		.lab-tree-observation-observation-title.top-level-content {
			padding: 0;
		}
	}

	.lab-tree-node {

		&.lab-tree-top-level {

			> a {
				display: block;
			}

			//a.active,
			//&.parent-active a {
			//	display: block;
			//}



			&.parent-active {

				> a {
					font-weight: bold;
				}
			}
		}

		.lab-tree-node:not(.lab-tree-top-level) {

			a {
				padding: 1px 0 1px 20px;
				color: $tree-node-selection-color-secondary;

				&.active,
				&:hover,
				&:focus {
					font-weight: bold;
					background-color: transparent;
					border-left-color: $tree-node-selection-color;
					color: $tree-node-selection-color;
				}
			}
		}

		a {
			display: block;
			text-decoration: none;
			color: $tree-node-selection-color;
			border-left: 2px solid transparent;
		}
	}
}

.lab-tree-group,
.lab-tree-group-item {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
	margin-bottom: 0;
	margin-top: 0px;
}
