@import "../../variables";

.lab-observation-result {
	text-align: left;
	vertical-align: top;

	.lab-observation-value {
		margin: 0;
		padding: 0;
	}

	.main-value {
		font-size: $font-size-gigantic;
		margin: 0;
		font-weight: 600;
		line-height: 1.2em;

		@media (max-width: $screen-tablet) {
			&.string-value {
				font-size: $font-size-huge;
			}
		}
	}

	.unit {
		vertical-align: top;
		line-height: 1.8em;
		font-size: $font-size-base;
	}
}
