@import "../../colors";
@import "../../variables";
@import "~susy/sass/susy";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins/vendor-prefixes";


$range-color-great: map-get($interpretation-colors, great);
$range-color-good: map-get($interpretation-colors, good);
$range-color-so-so: map-get($interpretation-colors, so-so);
$range-color-bad: map-get($interpretation-colors, bad);
$range-color-danger: map-get($interpretation-colors, danger);
$range-color-unknown: map-get($interpretation-colors, unknown);

$range-color-unknown-on: map-get($interpretation-colors, ambiguous-on);
$range-color-unknown-off: map-get($interpretation-colors, ambiguous-off);

$range-color-unknown-7: map-get($unknown-interpretation-colors, darkest);
$range-color-unknown-6: map-get($unknown-interpretation-colors, darker);
$range-color-unknown-5: map-get($unknown-interpretation-colors, dark);
$range-color-unknown-4: map-get($unknown-interpretation-colors, regular);
$range-color-unknown-3: map-get($unknown-interpretation-colors, light);
$range-color-unknown-2: map-get($unknown-interpretation-colors, lighter);
$range-color-unknown-1: map-get($unknown-interpretation-colors, lightest);

$meter-main-color: black;
$meter-contrasting-color: white;

$range-label-separation: 5px;

.value-within-multiple-ranges-graph {
	.range-great {
		stroke: $range-color-great;
		fill: $range-color-great;
		color: $range-color-great;
	}

	.range-good {
		stroke: $range-color-good;
		fill: $range-color-good;
		color: $range-color-good;
	}

	.range-so-so {
		stroke: $range-color-so-so;
		fill: $range-color-so-so;
		color: $range-color-so-so;
	}

	.range-bad {
		stroke: $range-color-bad;
		fill: $range-color-bad;
		color: $range-color-bad;
	}

	.range-danger {
		stroke: $range-color-danger;
		fill: $range-color-danger;
		color: $range-color-danger;
	}

	.range-catch-all {
		stroke: $range-color-unknown;
		fill: $range-color-unknown;
		color: $range-color-unknown;
	}

	.range-ambiguous-indeterminate {
		stroke: $range-color-unknown;
		fill: $range-color-unknown;
		color: $range-color-unknown;
	}

	.range-ambiguous-positive {
		stroke: $range-color-unknown-on;
		fill: $range-color-unknown-on;
		color: $range-color-unknown-on;
	}

	.range-ambiguous-negative {
		stroke: $range-color-unknown-off;
		fill: $range-color-unknown-off;
		color: $range-color-unknown-off;
	}

	.range-unknown-7 {
		stroke: $range-color-unknown-7;
		fill: $range-color-unknown-7;
		color: $range-color-unknown-7;
	}

	.range-unknown-6 {
		stroke: $range-color-unknown-6;
		fill: $range-color-unknown-6;
		color: $range-color-unknown-6;
	}

	.range-unknown-5 {
		stroke: $range-color-unknown-5;
		fill: $range-color-unknown-5;
		color: $range-color-unknown-5;
	}

	.range-unknown-4 {
		stroke: $range-color-unknown-4;
		fill: $range-color-unknown-4;
		color: $range-color-unknown-4;
	}

	.range-unknown-3 {
		stroke: $range-color-unknown-3;
		fill: $range-color-unknown-3;
		color: $range-color-unknown-3;
	}

	.range-unknown-2 {
		stroke: $range-color-unknown-2;
		fill: $range-color-unknown-2;
		color: $range-color-unknown-2;
	}

	.range-unknown-1 {
		stroke: $range-color-unknown-1;
		fill: $range-color-unknown-1;
		color: $range-color-unknown-1;
	}

	.range-text {
		display: table;
		width: 100%;
		height: 100%;

		.range-text-content {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			color: white;
			font-size: 11px;
			line-height: 10px;

			@include susy-breakpoint($screen-tablet) {
				font-size: 12px;
				line-height: 1;
			}
		}
	}

	.range-text-fallback {
		vertical-align: middle;
		text-align: center;
		color: white;
		fill: white;
		font-size: 18px;
		line-height: 10px;
		background-color: pink;

		@include susy-breakpoint($screen-tablet) {
			font-size: 12px;
			line-height: 1;
		}
	}

	.range-label {
		height: 100%;
		width: 100%;
		text-transform: uppercase;
		font-size: 9px;
		font-weight: 900;
		line-height: 1.1em;
		display: block;
		text-align: center;

		@include susy-breakpoint(0 $screen-tablet) {
			@include hyphens();
		}
	}

	.meter {
		text-align: left;

		&.meter-box {
			fill: $meter-main-color;

			.meter-label {
				color: $meter-contrasting-color;
			}

			.meter-label-container {
				display: inline-block;
				background-color: $meter-main-color;
			}
		}

		&.meter-balloon {

			.meter-label {
				color: $meter-main-color;
				font-weight: bold;
			}
		}

		.meter-label {
			font-size: $font-size-small;
			padding: 4px;
		}

		.meter-center-area {
			fill: $meter-contrasting-color;
		}
	}
}
