@import "../../colors";
@import "../../variables";


$range-color-great: map-get($interpretation-colors, great);
$range-color-good: map-get($interpretation-colors, good);
$range-color-so-so: map-get($interpretation-colors, so-so);
$range-color-bad: map-get($interpretation-colors, bad);
$range-color-danger: map-get($interpretation-colors, danger);
$range-color-unknown: map-get($interpretation-colors, unknown);


$meter-main-color: black;
$meter-contrasting-color: white;

$range-label-separation: 5px;

.value-within-multiple-ranges-graph {
	.range-great {
		stroke: $range-color-great;
		fill: $range-color-great;
		color: $range-color-great;
	}

	.range-good {
		stroke: $range-color-good;
		fill: $range-color-good;
		color: $range-color-good;
	}

	.range-so-so {
		stroke: $range-color-so-so;
		fill: $range-color-so-so;
		color: $range-color-so-so;
	}

	.range-bad {
		stroke: $range-color-bad;
		fill: $range-color-bad;
		color: $range-color-bad;
	}

	.range-danger {
		stroke: $range-color-danger;
		fill: $range-color-danger;
		color: $range-color-danger;
	}

	.range-catch-all {
		stroke: $range-color-unknown;
		fill: $range-color-unknown;
		color: $range-color-unknown;
	}

	.range-text {
		display: table;
		width: 100%;
		height: 100%;

		.range-text-content {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			color: white;
			font-size: 12px;
			line-height: 1;
		}
	}

	.range-label-wrapper {

	}

	.range-label {
		height: 100%;
		width: 100%;
		text-transform: uppercase;
		font-size: 9px;
		font-weight: 900;
		line-height: 1.1em;
		display: block;
		text-align: center;

		&.bottom {
			padding-top: $range-label-separation;
		}

		&.top {
			padding-bottom: $range-label-separation;
		}
	}

	.meter {
		text-align: left;

		&.meter-box {
			fill: $meter-main-color;

			.meter-label {
				color: $meter-contrasting-color;
			}

			.meter-label-container {
				display: inline-block;
				background-color: $meter-main-color;
			}
		}

		&.meter-balloon {

			.meter-label {
				color: $meter-main-color;
				font-weight: bold;
			}
		}

		.meter-label {
			font-size: $font-size-small;
			padding: 4px;
		}

		.meter-center-area {
			fill: $meter-contrasting-color;
		}
	}
}
