<div class="observation-history-graph">
	<ul class="graph-references" ng-if="observationList.length">
		<li class="reference">
			<div class="reference-zone zone-safe"></div>
			<p class="reference-label">Zona<br>Segura</p></li>
		<li class="reference">
			<div class="reference-zone zone-unsafe"></div>
			<p class="reference-label">Zona<br>Insegura</p></li>
		<li class="reference">
			<div class="reference-point point-safe"></div>
			<p class="reference-label">Valor<br>Saludable</p></li>
		<li class="reference">
			<div class="reference-point point-unsafe"></div>
			<p class="reference-label">Valor<br>No saludable</p></li>
	</ul>
	<div class="graph">
		<div class="graph-bg"></div>
	</div>
	<div ng-if="!observationList.length">
		<p>No hay historial para mostrar.</p>
	</div>
</div>
