@import "../../components/value-within-multiple-ranges/value-within-multiple-ranges";
@import "~susy/sass/susy";

$range-meter-background-color: #444;
$range-meter-text-color: #EAEAEA;
$range-meter-offset: 25px;

.meter {

	fill: $range-meter-background-color;

	.meter-label-container {
		background-color: $range-meter-background-color;
		border-radius: 2px;
		padding: 1px 5px 3px 5px;
	}

	.meter-label {
		color: $range-meter-text-color;
	}
}

.lab-observation-multirange-graph {
	position: relative;
	top: -$range-meter-offset;
	margin-bottom: -$range-meter-offset;
}
