<div class="demo-popover-content-1">
	<a ng-click="popover1.open = false" style="color: #0e90d2; float: right; cursor: pointer;">x</a>
	<div>
		<h2 class="demo-popover-content-heading">Cheese Ipsum</h2>
		<p>Emmental ricotta cauliflower cheese. Caerphilly mascarpone lancashire pecorino jarlsberg swiss cauliflower cheese gouda. Cheddar smelly cheese brie cream cheese cream cheese chalk and cheese st. agur blue cheese stinking bishop. Manchego gouda bavarian bergkase who moved my cheese taleggio brie brie.

			Stilton mascarpone brie. Roquefort feta goat manchego cheese and wine goat feta croque monsieur. Cheesecake cheese triangles stilton cheeseburger cheesecake rubber cheese swiss croque monsieur. Port-salut emmental goat cheese strings red leicester st. agur blue cheese lancashire.
		</p>
	</div>
</div>
