<div>
	<h2>Lab Observation</h2>

	<div ng-repeat="observation in allObservations" class="demo-observation-wrapper">
		<pre class="demo-code">{{ observation.code.coding[0].code }}</pre>
		<div class="observation-gallery">
			<div lab-observation
				 id="{{ observation.id }}"
				 class="lab-observation"
				 observation="observation"
				 actions="observation.actions"
				 header-actions="observation.headerActions"
				 view-only="false"
				 compact-mode="true"
				 multi-range-mode="true"
				 hide-title="false"
				 patient-age-in-years="demoPatient.age"
				 patient-gender="demoPatient.gender"
				 should-show-method="true">

				<div lab-observation-history-graph
					 ng-if="observation.showHistory && !!observation.history"
					 class="observation-transcluded-content"
					 observation-list="observation.history">
				</div>
			</div>
		</div>
	</div>
</div>



