<div>
	<h2>Lab Diagnostic Report demo</h2>

	<div class="demo-instance-container">

		<div lab-diagnostic-report
			 class="demo-content compact-observations"
			 diagnostic-order="demo2.order"
			 observations="demo2.rawObservations"
			 patient="demo2.patient"
			 organization="demo2.organization"
			 status="{{demo2.status}}"
			 report-date="demo2.reportDate"
			 view-only="true"
			 compact-mode="true"
			 de-dupe-top-level-observations="true"
			 date-format="{{demo2.dateFormat}}"
			 display-observations-with-multiple-ranges="true">
		</div>
	</div>
</div>
