<div>
	<h2>Lab Diagnostic Report demo</h2>
	<h4>Patient is MALE (pediatric), full mode, single-range display</h4>

	<div class="demo-instance-container">
		<div lab-diagnostic-report
			 class="demo-content"
			 diagnostic-order="demo.order"
			 observations="demo.observations"
			 patient="demo.patient"
			 organization="demo.organization"
			 status="{{demo.status}}"
			 report-date="demo.reportDate"
			 date-format="{{demo.dateFormat}}"
			 view-only="true"
			 compact-mode="true"
			 de-dupe-top-level-observations="true"
			 display-observations-with-multiple-ranges="true">
		</div>
	</div>
</div>
