<div>
	<h2>Value Within Range Graph demos</h2>

	<div ng-repeat="valueWithinRange in graphs" class="demo-instance-container" ng-class="{'demo-instance-container-shrinked': $last}">
		<h4 class="demo-description">{{ valueWithinRange.description }}</h4>
		<value-within-range-graph value="valueWithinRange.data.value"
								  unit="valueWithinRange.data.unit"
								  range="valueWithinRange.data.range"
								  range-class="healthy"
								  domain-class="unhealthy">
		</value-within-range-graph>
	</div>
</div>
