@import "../../colors";
@import "../../variables";

$tooltip-padding: 8px;
$tooltip-left-margin: 16px;

$safe-zone-bg: map-get($safe-color, light);
$safe-zone: map-get($safe-color, regular);
$unsafe-zone: map-get($unsafe-color, regular);
$unsafe-zone-bg: map-get($unsafe-color, light);

$dot-border: map-get($read-text-color, dark);

$graph-references-margin: 25px;
$reference-dot-size: 12px;
$reference-text-color: map-get($read-text-color, dark);

$axis-text-color: map-get($read-text-color, regular);
$axis-tick-color: map-get($read-text-color, regular);
$axis-color: map-get($read-text-color, regular);

.history-graph {
	.chart-header {
		height: 18px;

		.title {
			font-size: 16px;
			font-weight: bold;
			float: left;
			margin-left: 30px;
		}

		.time-controls {
			font-size: 12px;
			text-align: right;
			width: 100%;

			ul {
				list-style: none;
				padding-left: 0px;
				float: right;
				margin-top: 0px;
				margin-bottom: 0px;

				li {
					float: left;
					margin-right: 10px;
					cursor: pointer;
					&.selected {
						text-decoration: underline;
						font-weight: bold;
					}
				}
			}
		}

		.time-interval {

		}
	}

	.chart {
		font: 10px sans-serif;
		height: 300px;

		svg {
			width: 100%;
			height: 100%;
		}

		rect.pane {
			cursor: move;
			fill: none;
			pointer-events: all;
		}

		.axis path,
		.axis line {
			fill: none;
			stroke: #000;
			shape-rendering: crispEdges;
		}

		.yaxis-mask {
			fill: white;
			opacity: 0.75;
		}

		.line {
			fill: none;
			stroke: #616161;
			stroke-width: 1.5px;
		}

		.dot {
			fill: #616161;
		}

		.range {
			fill-opacity: 0.3;
			&.range-L, &.range-H {
				fill: #ed6f62;
			}
			&.range-N {
				fill: #43d186;

			}
			&.range-LIM {
				fill: #f4c540;
			}
			&.range-HU {
				fill: #ef986c;
			}
		}
	}
}
