<div class="history-graph">
	<div class="chart-header">
		<div class="title" ng-if="config.title">
			{{ config.title }}
		</div>
		<div class="time-controls">
			<ul>
				<li class="options-label">{{ 'HISTORY_GRAPH.LAST' | translate }}:</li>
				<li ng-repeat="control in timeControls" class="option option-{{control.id}}"
					ng-class="{ selected: control.id === selectedControl.id }" ng-click="selectTimeControl(control.id)">
					{{ 'HISTORY_GRAPH.TIME_CONTROLS.' + control.label | translate }}
				</li>
			</ul>
		</div>
	</div>
	<div class="chart"></div>
</div>

