@import "../colors";
@import "../variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins/clearfix";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins/labels";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/labels";
@import "~susy/sass/susy";

$observation-box-bg: #FFFFFF;
$observation-box-footer-bg: #eaeaea;
$observation-box-border: 1px solid #e2e2e2;
$observation-box-padding: 10px;

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

%observation-gallery-box {
	padding: $observation-box-padding;
}

%observation-column-tablet-wrap {
	display: table-caption;
	caption-side: bottom;

	@include susy-breakpoint($screen-tablet) {
		display: table-cell;
	}
}

.observation-gallery-item {
	background: $observation-box-bg;
	border: $observation-box-border;

	width: 100%;
	height: 100%;

	@include clearfix;

	h3 {
		margin-top: 0;
		margin-bottom: 115px;

		@include susy-breakpoint($screen-tablet) {
			margin-bottom: 25px ;
		}
	}

	button {
		padding: 10px;
		margin-bottom: 0;
		font-size: $font-size-small;

		&:focus {
			border: none;
			padding: 10px;
		}
	}




	///// observation-column width distribution:
	// * mobile
	.observation-secondary-content,
	.observation-tertiary-content,
	.observation-generic-content {
		width: 33%;
	}
	.observation-primary-content {
		width: 100%;
	}

	// secondary | generic (no tertiary)
	// secondary | tertiary (no generic)
	&.observation-reduced-content {
		.observation-secondary-content,
		.observation-tertiary-content,
		.observation-generic-content {
			width: 50%;
		}
	}

	// no tertiary and no generic
	&.observation-stripped-content {
		.observation-secondary-content {
			width: 100%;
		}
	}

	// * tablet + desktop
	@include susy-breakpoint($screen-tablet) {

		$observation-secondary-content-fixed-width: 20%;
		$observation-tertiary-content-fixed-width: 15%;
		$observation-generic-content-width-when-next-to-range: 20%;

		// fixed, these two don't not depend on other columns appearing or not
		.observation-secondary-content {
			width: $observation-secondary-content-fixed-width;
		}
		.observation-tertiary-content {
			width: $observation-tertiary-content-fixed-width;
		}

		// secondary | primary | generic (no tertiary)
		// secondary | tertiary | primary | generic
		.observation-primary-content + .observation-generic-content {
			width: $observation-generic-content-width-when-next-to-range;
		}

		// secondary | tertiary | generic (no primary)
		.observation-tertiary-content + .observation-generic-content {
			// 65%
			width: 100% - $observation-secondary-content-fixed-width - $observation-tertiary-content-fixed-width;
		}

		// no tertiary or no generic
		&.observation-reduced-content {
			// fixed, these two don't not depend on other columns appearing or not
			.observation-secondary-content {
				width: $observation-secondary-content-fixed-width;
			}
			.observation-tertiary-content {
				width: $observation-tertiary-content-fixed-width;
			}

			.observation-secondary-content + .observation-primary-content {
				// 65%
				width: 100% - $observation-secondary-content-fixed-width - $observation-tertiary-content-fixed-width;
			}
			.observation-tertiary-content + .observation-primary-content {
				// 60%
				width: 100% - $observation-secondary-content-fixed-width - $observation-generic-content-width-when-next-to-range;
			}
		}

		// no tertiary and/or no generic
		&.observation-stripped-content {

			// fixed, these two don't not depend on other columns appearing or not
			.observation-secondary-content {
				width: $observation-secondary-content-fixed-width;
			}

			.observation-primary-content {
				// 80%
				width: 100% - $observation-secondary-content-fixed-width;
			}
		}
	}

	// string values
	&.observation-basic-content {
		.observation-secondary-content {
			width: 70%;
		}
		.observation-generic-content {
			width: 30%;
		}
	}
	//////


	.compact-observation & {
		padding: 10px;
	}

	.observation-gallery-header,
	.observation-gallery-footer {
		@extend %observation-gallery-box;

		display: table;
		text-align: left;
		width: 100%;

		.observation-gallery-footer-title {
			@extend %observation-box-sub-content-title;
		}
	}

	.observation-gallery-footer {
		border-top: $observation-box-border;
		background-color: $observation-box-footer-bg;
	}

	.observation-gallery-header {
		border-bottom: $observation-box-border;

		.observation-gallery-header-text,
		.observation-gallery-header-actions {
			display: table-cell;
			text-align: right;
		}

		.observation-gallery-header-text {
			font-size: 16px;
			line-height: 1;
		}

		.observation-gallery-header-action {
			font-size: 12px;
			font-weight: bold;
			color: map-get($actions, contextual);
			cursor: pointer;
			text-decoration: none;

			.icon {
				border: 1px solid;
				border-color: map-get($actions, contextual);
				padding: 3px;
				border-radius: 15px;
				text-align: center;
				width: 19px;
			}

			&.hovered {
				color: map-get($actions, contextual-hovered);
			}

			&.active {
				color: map-get($actions, add);

				.icon {
					border-color: map-get($actions, add);
				}

				&.hovered {
					color: map-get($actions, remove);

					.icon {
						border-color: map-get($actions, remove);
					}
				}
			}
		}
	}

	.observation-gallery-content {
		display: table;
		width: 100%;

		%observation-box-sub-content-title {
			text-align: left;
			color: map-get($read-text-color, regular);
			font-size: $font-size-base;
			font-weight: bold;
			margin-bottom: 4px;
		}

		.observation-column {
			@extend %observation-gallery-box;

			text-align: center;
			vertical-align: top;
			height: 100%;

			// in mobile, primary content goes on a separate row, so
			// add border left to all except first and primary content
			&:not(:first-child):not(.observation-primary-content) {
				border-left: $observation-box-border;
			}

			@include susy-breakpoint($screen-tablet) {

				&.observation-primary-content {
					border-left: $observation-box-border;
				}
			}

			.observation-column-title {
				@extend %observation-box-sub-content-title;
			}

			.observation-column-content {
				vertical-align: top;
			}

			&.observation-primary-content {
				@extend %observation-column-tablet-wrap;

				border-top: $observation-box-border;

				@include susy-breakpoint($screen-tablet) {
					border-top: none;
				}
			}

			&.observation-secondary-content,
			&.observation-tertiary-content,
			&.observation-generic-content {
				display: table-cell;

				@include susy-breakpoint($screen-tablet) {
					border-bottom: none;
				}
			}
		}

		.observation-values {
			p {
				padding: 0;
				line-height: 1;
			}
		}

		.observation-details {
			text-align: left;

			.details-item-list {
				.item-name {
					width: 30%;
				}

				.item-value {
					width: 70%;
					padding-left: 4px;
				}
			}

			.observation-extended-content & {
				.details-item-list {
					.item-name {
						width: 40%;
					}

					.item-value {
						width: 60%;
					}
				}
			}

			.details-item-list {
				.item-name {
					font-weight: bold;
				}

				.item-name,
				.item-value {
					width: 50%;
					display: table-cell;
					word-break: break-all;
				}

				.details-item {
					width: 100%;
					display: table;
					margin: 2px 0;
					font-size: $font-size-small;
					line-height: ($font-size-small)+0.2;
					color: #bcbcbc;
					//@include Source-Sans-Pro-Regular;	//TODO (denise)
				}
			}
		}

		.observation-result {
			font-size: 1em;

			.observation-result-meaning {
				margin-left: 20px;
				display: none;

				li {
					margin: 8px 0;
				}

				@include susy-breakpoint($screen-tablet) {
					display: block;
				}
			}

			.lab-text {
				margin-top: 0;
				text-align: center;
			}
		}

		.observation-generic-content {

			button {
				margin: 0;
			}

			.reference-range {

				.value {
					text-align: left;
					margin: 0;
					font-size: 11px;
					font-weight: 600;
					line-height: 1.4em;
					white-space: pre-wrap;
					word-break: break-all;

					@include susy-breakpoint($screen-tablet) {
						white-space: pre;
						word-break: initial;
					}
				}
			}
		}
	}

	.observation-transcluded-content {
		border-top: $observation-box-border;
	}
}

.observation-group-title {
	font-size: 18px;
}

.observation-method {
	color: map-get($read-text-color, sub);
	font-weight: bold;
	font-size: 11px;
}

.meaning-indicator-healthy {
	border-left: 8px solid rgba(91, 180, 3, 0.7);
}
.meaning-indicator-unhealthy {
	border-left: 8px solid rgba(204, 0, 1, 0.7);
}
.meaning-indicator-almost-healthy {
	border-left: 8px solid rgba(221, 193, 0, 0.7);
}
.meaning-indicator-unknown {
	border-left: 8px solid rgba(179, 179, 179, 0.7);
}


.obsevation-html iframe {
	float:left;
	height:100%;
	width:100%;
	min-height: 300px;
}


.sparkline {
	fill: none;
	stroke: #000;
	stroke-width: 0.5px;
}

.sparkcircle {
	fill: #f00;
	stroke: none;
}
