<div class="observation-gallery-item" ng-init="observation.hasHistory = !!observation.valueQuantity"
	 ng-class="{'observation-reduced-content': !observation.hasHistory || !observation.referenceRange[0].text, 'observation-stripped-content': !observation.hasHistory && !observation.referenceRange[0].text, 'observation-basic-content': !!observation.valueString }">

	<div class="observation-gallery-header" ng-if="!hideTitle">
		<h3 class="observation-gallery-header-text">{{ observation.code | codeableConcept }}</span></h3>
		<div ng-if="!vm.viewOnly && headerActions.length" class="observation-gallery-header-actions right">
			<a ng-repeat="headerAction in headerActions"
			   ng-if="headerAction.click && (!headerAction.check || headerAction.check(observation))"
			   class="observation-gallery-header-action"
			   ng-class="{ 'active' : headerAction.isActive(observation), 'hovered': hovered === observation._id || headerAction.showAsHovered(observation) }"
			   ng-mouseover="hovered = observation._id"
			   ng-mouseleave="hovered = null"
			   ng-click="headerAction.click(observation); hovered = null;">
				<span>{{ (headerAction.isActive(observation) ? (hovered === observation._id ? headerAction.activeAndHoveredLabel : headerAction.activeLabel) : headerAction.inactiveLabel) }} <span ng-if="headerAction.icon || headerAction.activeIcon" class="{{ headerAction.icon }}" ng-class="{ '{{ headerAction.inactiveIcon }}': !headerAction.isActive(observation), '{{ headerAction.activeIcon }}': headerAction.isActive(observation)}"></span></span>
			</a>
		</div>
	</div>

	<div class="observation-gallery-content">

		<div class="observation-column observation-secondary-content observation-column-non-wrap">
			<div class="observation-column-title">{{ 'LAB.RESULT' | translate }}</div>
			<div class="observation-column-content">
				<lab-observation-result observation="observation"></lab-observation-result>
			</div>
		</div>

		<div class="observation-column observation-tertiary-content observation-column-non-wrap observation-details" ng-if="!!observation.hasHistory">
			<div class="observation-column-title">{{ 'LAB.HISTORIC' | translate }}</div>
			<div class="observation-column-content">
				<lab-observation-sparkline
					observation="observation">
				</lab-observation-sparkline>
			</div>
		</div>

		<div class="observation-column observation-primary-content observation-result" ng-if="!!observation.valueQuantity && !observation.referenceRange[0].text && canShowRangeGraph">
			<lab-observation-range-graph observation="observation" ng-if="!multiRangeMode"></lab-observation-range-graph>
			<lab-observation-multirange-graph observation="observation" ng-if="multiRangeMode"></lab-observation-multirange-graph>
		</div>

		<div class="observation-column observation-generic-content observation-column-non-wrap" ng-if="observation.referenceRange[0].text">
			<div class="observation-column-title">{{ 'LAB.REFERENCE' | translate }}</div>
			<div class="observation-column-content">
				<div class="reference-range" ng-class="{'big-reference-range': !!observation.valueString}">
					<p class="value">{{ observation.referenceRange[0].text }}</p>
				</div>
			</div>
		</div>

		<!-- TODO (denise) incorporate this-->
		<div ng-if="!viewOnly && actions.length" class="observation-column observation-generic-content">

			<div ng-repeat="action in actions">
				<a ng-if="!!action.href" href="{{ action.href }}" class="action" ng-class="{'ghost': !action.primary, 'global-action right': action.global }"><span ng-if="action.icon" class="{{action.icon}}"></span> {{ action.label }}</a>

				<button ng-if="!!action.click && (!action.check || action.check(observation))" class="black right" ng-click="action.click(observation); action.on = !action.on">
					<span ng-if="action.icon" class="{{action.icon}}"></span> <span ng-if="action.isToggle">{{ action.on ? action.labelOn : action.labelOff }}</span><span ng-if="!action.isToggle">{{ action.label }}</span>
				</button>
			</div>
		</div>
	</div>

	<div ng-transclude>
		<!-- optional transcluded content goes here -->
	</div>

	<div class="observation-gallery-footer" ng-if="observation.comments && observation.comments !== '-'">
		<div class="observation-gallery-footer-title">{{ 'LAB.NOTES' | translate }}</div>
		<div class="observation-gallery-footer-column-content">
			<span>{{ observation.comments }}</span>
		</div>
	</div>
</div>
