<div class="observation-gallery-item {{ observation.code.coding[0].code | toClassName:'lc-obs--' }}" ng-init="observation.hasHistory = !!observation.valueQuantity"
	 ng-class="{'observation-reduced-content': !observation.hasHistory || !observation.referenceRange[0].text, 'observation-stripped-content': !observation.hasHistory && !observation.referenceRange[0].text, 'observation-basic-content': !!observation.valueString }">

	<div class="observation-gallery-header" ng-if="!hideTitle">
		<div><h3 class="observation-gallery-header-text">{{ observation.code | fhirCodeableConcept }}</h3></div>
		<div class="observation-method"><span ng-if="doShowMethod(observation.method)">{{ observation.method | fhirCodeableConcept | optional }}</span></div>
		<div ng-if="!vm.viewOnly && headerActions.length" class="observation-gallery-header-actions">
			<a ng-repeat="headerAction in headerActions"
			   ng-if="(headerAction.click || headerAction.popoverConfig) && (!headerAction.check || headerAction.check(observation))"
			   class="observation-gallery-header-action"
			   ng-class="{ 'active' : headerAction.isActive(observation), 'hovered': hovered === observation.id || headerAction.showAsHovered(observation) }"
			   ng-mouseover="onActionHover(observation)"
			   ng-mouseleave="onActionLeave()"
			   ng-click="onActionClick(headerAction, observation, $event)">

				<span popover-on-demand="headerAction.popoverConfig"
					  popover-on-demand-open="headerAction.popoverOpen" class="header-action-label">
					{{ (headerAction.isActive(observation) ? (hovered === observation.id ? headerAction.activeAndHoveredLabel : headerAction.activeLabel) : headerAction.inactiveLabel) }}
				</span>
				<span ng-if="headerAction.icon || headerAction.activeIcon" class="header-action-icon {{ headerAction.icon }}"
					  ng-class="{ '{{ headerAction.inactiveIcon }}': !headerAction.isActive(observation), '{{ headerAction.activeIcon }}': headerAction.isActive(observation)}">
				</span>
			</a>
		</div>
	</div>

	<div class="observation-gallery-content">

		<div class="observation-column observation-secondary-content observation-column-non-wrap">
			<div class="observation-column-title">{{ 'LAB.RESULT' | translate }}</div>
			<div class="observation-column-content">
				<div lab-observation-result observation="observation" options="config"></div>
			</div>
		</div>

		<div class="observation-column observation-tertiary-content observation-column-non-wrap observation-details" ng-if="!!observation.hasHistory">
			<div class="observation-column-title">{{ 'LAB.HISTORIC' | translate }}</div>
			<div class="observation-column-content">
				<div lab-observation-sparkline observation="observation"></div>
			</div>
		</div>

		<div class="observation-column observation-primary-content observation-result" ng-if="!!observation.valueQuantity && !observation.referenceRange[0].text && canShowRangeGraph">
			<div ng-if="!showAllGenderedReferenceRanges">
				<div lab-observation-range-graph observation="observationWithFilteredRanges" ng-if="!multiRangeMode" options="config"></div>
				<div lab-observation-multirange-graph observation="observationWithFilteredRanges" ng-if="multiRangeMode" options="config"></div>
			</div>
			<div ng-if="showAllGenderedReferenceRanges">
				<div class="observation-column-title">{{ 'LAB.REFERENCE_RANGE_FOR.FEMALE' | translate }}</div>
				<div lab-observation-multirange-graph observation="femaleObservationWithFilteredRanges" ng-if="multiRangeMode" options="config"></div>
				<div lab-observation-range-graph observation="femaleObservationWithFilteredRanges" ng-if="!multiRangeMode" options="config"></div>

				<div class="observation-column-title">{{ 'LAB.REFERENCE_RANGE_FOR.MALE' | translate }}</div>
				<div lab-observation-multirange-graph observation="maleObservationWithFilteredRanges" ng-if="multiRangeMode" options="config"></div>
				<div lab-observation-range-graph observation="maleObservationWithFilteredRanges" ng-if="!multiRangeMode" options="config"></div>
			</div>
		</div>

		<div class="observation-column observation-generic-content observation-column-non-wrap" ng-if="observation.referenceRange[0].text">
			<div class="observation-column-title">{{ 'LAB.REFERENCE' | translate }}</div>
			<div class="observation-column-content">
				<div class="reference-range" ng-class="{'big-reference-range': !!observation.valueString}">
					<p class="value">{{ observation.referenceRange[0].text }}</p>
				</div>
			</div>
		</div>

		<div ng-if="!viewOnly && actions.length" class="observation-column observation-generic-content">

			<div ng-repeat="action in actions">
				<a ng-if="!!action.href" href="{{ action.href }}" class="action" ng-class="{'ghost': !action.primary, 'global-action right': action.global }"><span ng-if="action.icon" class="{{action.icon}}"></span> {{ action.label }}</a>

				<button ng-if="!!action.click && (!action.check || action.check(observation))" class="action {{ action.classes }}" ng-click="action.click(observation); action.on = !action.on">
					<span ng-if="action.icon" class="{{action.icon}}"></span> <span ng-if="action.isToggle">{{ action.on ? action.labelOn : action.labelOff }}</span><span ng-if="!action.isToggle">{{ action.label }}</span>
				</button>
			</div>
		</div>
	</div>

	<div ng-transclude>
		<!-- optional transcluded content goes here -->
	</div>

	<div ng-if="observation.comments && observation.comments !== '-'" ng-class="{ 'observation-gallery-footer': !isValueHtml(observation.comments) }">
		<div class="observation-gallery-footer-column-content">
			<div ng-if="isValueHtml(observation.comments)" class="footer-html">
				<iframe frameBorder="0" marginheight="0" marginwidth="0" disable-hash-navigation="true"
						srcdoc="{{ observation.comments | trusted }}">
				</iframe>
			</div>
			<div ng-if="!isValueHtml(observation.comments)">
				<div class="observation-gallery-footer-title">{{ 'LAB.NOTES' | translate }}</div>
				<span>{{ observation.comments }}</span>
			</div>
		</div>
	</div>
</div>
