.demo-header {
	background-color: #222;
	padding: 14px 20px;
	color: white;
}

.demo-header .title {
	font-size: 20px;
	margin-bottom: 0;
}

.demo-content {
	padding: 20px;
}

.icon-more,
.icon-check {
	font-size: inherit;
	position: relative;
	display: inline-block;
	line-height: 1;
	speak: none;
	text-decoration: none !important;
	text-transform:none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-more:before {
	content: "\271A";
}

.icon-check:before {
	content: "\2714";
}

.observation-primary-content-header-actions.active.hovered .icon-check:before {
	content: "\2718";
}

.nav-link {
	color: #96d7fd;
	float: right;
	display: block;
	margin-left: 10px;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	cursor: pointer;
	font-size: 14px;
}

.nav-link:hover {
	color: #47a8fd;
}

.demo-instance-container {
	border: 2px dashed rgba(255, 153, 0, 0.4);
	margin-bottom: 10px;
}

.demo-instance-container.multiple-ranges {
	width: 45%;
	float: left;
	margin-right: 2%;
}

.demo-description {
	color: rgba(255, 153, 0, 0.7);
	font-weight: normal;
	padding: 8px;
	margin: 0;
}

.demo-instance-container-shrinked {
	width: 200px;
}

.split-content {
	margin-top: 20px;
}

.split-content .secondary-content.demo-navigation {
	width: 15%;
}

.split-content .primary-content.demo-content {
	width: 85%;
	padding-top: 0;
}


.range-great {
	stroke: #70AB4E;
	fill: #70AB4E;
	color: #70AB4E;
}

.range-good {
	stroke: #DDC100;
	fill: #DDC100;
	color: #DDC100;
}

.range-so-so {
	stroke: #DD8B05;
	fill: #DD8B05;
	color: #DD8B05;
}

.range-bad {
	stroke: #C86403;
	fill: #C86403;
	color: #C86403;
}

.range-danger {
	stroke: #C10000;
	fill: #C10000;
	color: #C10000;
}

.range-text {
	display: table;
	width: 100%;
	height: 100%;
}

.range-text span {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: white;
	font-size: 12px;
}

.range-label {
	height: 100%;
	width: 100%;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 900;
	line-height: 1.1em;
	display: inline-block;
	text-align: left;
}
