.demo-header {
	background-color: #222;
	padding: 0 20px;
	color: white;
}

.demo-header .title {
	font-size: 20px;
}

.demo-content {
	padding: 20px;
}

.icon-more,
.icon-check {
	font-size: inherit;
	position: relative;
	display: inline-block;
	line-height: 1;
	speak: none;
	text-decoration: none !important;
	text-transform:none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-more:before {
	content: "\271A";
}

.icon-check:before {
	content: "\2714";
}

.observation-primary-content-header-actions.active.hovered .icon-check:before {
	content: "\2718";
}
