.content-aligned {
	display: inline-block;
	vertical-align: bottom;
	width: 100%
}

@media (min-width: 992px) {
	.content-aligned {
		display: table-cell;
		vertical-align: middle
	}
}

.fix-tree .lab-tree {
	position: fixed;
	top: 20px
}

@media (min-width: 992px) {
	.fix-tree .lab-tree {
		top: 20px
	}
}

.lab-tree {
	padding-left: 20px;
	position: absolute;
	display: none
}

@media (min-width: 768px) {
	.lab-tree {
		display: block
	}
}

.lab-tree .lab-tree-node {
	padding: 4px 0
}

.lab-tree .lab-tree-observation-group-title {
	font-size: 14px
}

.lab-tree .lab-tree-observation-observation-title {
	font-size: 12px
}

.lab-tree .lab-tree-node.lab-tree-top-level > a {
	display: block
}

.lab-tree .lab-tree-node.lab-tree-top-level a.active,
.lab-tree .lab-tree-node.lab-tree-top-level.parent-active a {
	display: block
}

.lab-tree .lab-tree-node .lab-tree-node:not(.lab-tree-top-level) a {
	padding-left: 30px
}

.lab-study-viewer .lab-tree .lab-tree-node a,
.lab-viewer .lab-tree .lab-tree-node a {
	display: none;
	padding-left: 20px;
	color: #333;
	border-left: 2px solid transparent
}

.lab-tree .lab-tree-node a.active,
.lab-tree .lab-tree-node a:hover,
.lab-tree .lab-tree-node a:focus {
	font-weight: bold;
	text-decoration: none;
	background-color: transparent;
	border-left-color: #333
}

.lab-tree-top-level:not(.parent-active) .lab-tree-observation-observation-title.top-level-content {
	padding: 0;
}

.lab-study-viewer .object-viewer-container:before,
.lab-study-viewer .object-viewer-container:after,
.lab-viewer .object-viewer-container:before,
.lab-viewer .object-viewer-container:after {
	content: " ";
	display: table
}

.lab-study-viewer .object-viewer-container:after,
.lab-viewer .object-viewer-container:after {
	clear: both
}

.lab-study-viewer .object-viewer-container .middle-separator,
.lab-viewer .object-viewer-container .middle-separator {
	position: absolute;
	top: 20.1680672269%;
	bottom: 7.5630252101%;
	left: 49%;
	width: 1px;
	background: #ededed;
	display: none
}

@media (min-width: 992px) {
	.lab-study-viewer .object-viewer-container .middle-separator,
	.lab-viewer .object-viewer-container .middle-separator {
		display: block
	}
}

.lab-study-viewer .result,
.lab-viewer .result {
	color: #00918d
}

.lab-study-viewer .observation-groups,
.lab-viewer .observation-groups {
	margin-bottom: 20px;
	display: table;
	width: 100%
}

.lab-study-viewer .observation-group-title,
.lab-viewer .observation-group-title {
	margin: 5px 0 15px !important
}

.observation-primary-content-header {
	display: table;
	text-align: left;
	width: 100%
}

.observation-primary-content-header .observation-primary-content-header-text,
.observation-primary-content-header .observation-primary-content-header-actions {
	display: table-cell
}

.observation-primary-content-header .observation-primary-content-header-actions {
	font-size: 12px;
	font-weight: bold;
	color: #1d4547
}

.observation-primary-content-header .observation-primary-content-header-actions.hovered {
	color: #0e2932
}

.observation-primary-content-header .observation-primary-content-header-actions.active {
	color: #5BB403
}

.observation-primary-content-header .observation-primary-content-header-actions.active .icon {
	border-color: #5BB403
}

.observation-primary-content-header .observation-primary-content-header-actions.active.hovered {
	color: #CC0001
}

.observation-primary-content-header .observation-primary-content-header-actions.active.hovered .icon {
	border-color: #CC0001
}

.observation-primary-content-header .observation-primary-content-header-actions .icon {
	border: 1px solid;
	border-color: #1d4547;
	padding: 3px;
	border-radius: 15px;
	text-align: center;
	width: 19px;
}

.observation-gallery-item {
	position: relative;
	margin-bottom: 12px;
	padding: 20px;
	background: #fafafa;
	overflow: hidden;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px
}

.observation-gallery-item:before,
.observation-gallery-item:after {
	content: " ";
	display: table
}

.observation-gallery-item:after {
	clear: both
}

.observation-gallery-item h3 {
	margin-top: 0;
	margin-bottom: 115px
}

@media (min-width: 768px) {
	.observation-gallery-item h3 {
		margin-bottom: 25px
	}
}

.observation-gallery-item button {
	padding: 10px;
	margin-bottom: 0;
	font-size: 1.2rem
}

.observation-gallery-item button:focus {
	border: none;
	padding: 10px
}

.observation-gallery-item .observation-content {
	display: table;
	width: 100%;
	margin-top: 10px
}

.observation-gallery-item .observation-column {
	display: block;
	text-align: center;
	vertical-align: middle
}

@media (min-width: 768px) {
	.observation-gallery-item .observation-column {
		display: table-cell
	}
}

.observation-gallery-item .observation-primary-content {
	width: 100%
}

@media (min-width: 768px) {
	.observation-gallery-item .observation-primary-content {
		width: 40%
	}
}

.observation-gallery-item .observation-secondary-content {
	width: 100%
}

@media (min-width: 768px) {
	.observation-gallery-item .observation-secondary-content {
		width: 18%
	}
}

.observation-gallery-item .observation-tertiary-preview {
	width: 100%
}

@media (min-width: 768px) {
	.observation-gallery-item .observation-tertiary-preview {
		width: 18%
	}
}

.observation-gallery-item .observation-generic-content {
	width: 100%
}

@media (min-width: 768px) {
	.observation-gallery-item .observation-generic-content {
		width: 14%
	}
}

.observation-gallery-item .observation-generic-content {
	padding: 10px 0
}

.observation-gallery-item .observation-generic-content button {
	margin: 0
}

.observation-values p,
.observation-values p {
	padding: 0;
	line-height: 1
}

.observation-values .reference-range,
.observation-values .reference-range {
	padding: 4px 0
}

.observation-values .reference-range .reference,
.observation-values .reference-range .reference {
	font-size: 12px;
	vertical-align: text-top
}

.observation-values .reference-range .reference-type,
.observation-values .reference-range .reference-type {
	text-align: left;
	color: #CCC
}

.observation-values .reference-range .value,
.observation-values .reference-range .value {
	text-align: right
}

.observation-values .main-value,
.observation-values .main-value {
	font-size: 36px !important;
	line-height: 36px
}

.observation-values .unit,
.observation-values .unit {
	margin-top: 0;
	font-size: 12px;
}

.observation-gallery-item .observation-details {
	text-align: left;
}

.details-item .item-value {
	font-weight: bold;
}

.details-item .item-name,
.details-item .item-value {
	display: table-cell;
	word-break: normal;
}

.lab-diagnostic-report-info,
.details-item {
	width: 100%;
	display: table;
	font-style: normal;
}

.observation-details {
	margin: 2px 0;
	font-size: 1.2rem;
	line-height: 1.4rem;
	color: #bcbcbc;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.item-value-help {
	font-size: 12px;
	line-height: 13px;
	color: #bcbcbc;
	font-weight: normal;
}

.lab-diagnostic-report-info {
	width: 70%;
	margin-bottom: 30px;
}

.details-item-list-aligned .details-item .item-value {
	text-align: right;
}

.lab-diagnostic-report-info .details-item-list {
	display: table-cell;
	word-break: break-all;
	width: 50%;
	padding-right: 20px;
}


.observation-gallery-item .healthy {
	color: #5BB403
}

.observation-gallery-item .unhealthy {
	color: #CC0001
}

.observation-gallery-item .observation-result {
	font-size: 1em
}

.observation-gallery-item .observation-result .observation-result-meaning {
	margin-left: 20px;
	display: none
}

.observation-gallery-item .observation-result .observation-result-meaning li {
	margin: 8px 0
}

@media (min-width: 768px) {
	.observation-gallery-item .observation-result .observation-result-meaning {
		display: block
	}
}

.observation-gallery-item .lab-text {
	margin-top: 0;
	text-align: center
}

line.healthy {
	stroke: #5BB403
}

text.healthy {
	fill: #5BB403
}

circle.healthy {
	stroke: #5BB403;
	fill: #5BB403
}

line.unhealthy {
	stroke: #CC0001
}

text.unhealthy {
	fill: #CC0001
}

circle.unhealthy {
	stroke: #CC0001;
	fill: #CC0001
}

.observation-gallery-item .observation-gallery {
	padding: 20px
}

.split-content .primary-content {
	width: 100%
}

@media (min-width: 768px) {
	.split-content .primary-content {
		float: left;
		width: 75%
	}
}

.split-content .secondary-content {
	width: 0
}

@media (min-width: 768px) {
	.split-content .secondary-content {
		float: left;
		width: 25%
	}
}

.axis path,
.axis line {
	fill: none;
	stroke: #888;
	stroke-width: 1;
	shape-rendering: crispEdges
}

.axis path,
.axis line {
	fill: none;
	stroke: #888
}

.y.axis path {
	display: none
}

.y.axis line {
	stroke: #888;
	stroke-dasharray: 2, 2
}

.dot {
	stroke: #1d4547;
	fill: #5BB403;
	stroke-width: 2px;
	opacity: 1;
	cursor: pointer
}

.dot:hover {
	stroke-width: 5px
}

.out-of-range {
	stroke: #1d4547;
	fill: #e8634d
}

.healthyRange {
	fill: #e6fffe
}

.higherRange {
	fill: #fff0f4
}

.lowerRange {
	fill: #fff0f4
}

.valueTooltip {
	display: none;
	fill: rgba(0, 0, 0, 0.73)
}

.tooltip {
	font-size: 12px;
	padding: 8px;
	position: absolute;
	text-align: left;
	color: white;
	background: #5BB403;
	pointer-events: none;
	z-index: 11;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px
}

.tooltip strong {
	font-size: 2.4rem;
	line-height: 1em
}

.tooltip:before {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-width: 6px;
	border-style: solid;
	pointer-events: none;
	bottom: 100%;
	top: auto;
	left: 24px;
	margin-left: -16px;
	border-bottom-color: #5BB403
}

.tooltip:after {
	border-bottom-color: black;
	border-top: none;
	top: 100%;
	left: 10px;
	margin-top: 4px;
	content: ""
}

.tooltip.out-of-range {
	background: #e8634d
}

.tooltip.out-of-range:before {
	border-bottom-color: #e8634d
}

.graph-scales {
	margin-top: 25px
}

.graph-scales li {
	display: inline-block;
	margin-right: 25px
}

.graph-scales li div,
.graph-scales li p {
	display: inline-block;
	vertical-align: top;
	padding: 0;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-style: normal
}

.graph-scales li p {
	font-size: 1rem;
	border-radius: 50%;
	padding-left: 5px;
	color: #666
}

.graph-scales li .zone-blue {
	width: 12px;
	height: 12px;
	background: #e6fffe
}

.graph-scales li .zone-red {
	width: 12px;
	height: 12px;
	background: #fff0f4
}

.graph-scales li .point-blue {
	width: 12px;
	height: 12px;
	background: #5BB403;
	border: 2px solid #222;
	border-radius: 50%
}

.graph-scales li .point-red {
	width: 12px;
	height: 12px;
	background: #e8634d;
	border: 2px solid #222;
	border-radius: 50%
}

.graph {
	position: relative;
	display: inline-block;
	margin-left: -30px
}

.graph .graph-bg {
	background: repeating-linear-gradient(-45deg, #fff0f4, #fff0f4 7px, transparent 7px, transparent 14px);
	position: absolute;
	left: 60px;
	right: 0px;
	bottom: 33px;
	top: 30px;
	z-index: 9
}

.graph svg {
	z-index: 10;
	position: relative
}

.empty-lab img {
	width: 270px
}

.empty-lab h2 {
	margin-top: 10px
}

.empty-lab p {
	color: #888;
	padding-top: 0
}

.tick {
	font-size: 1rem;
	fill: #666;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-style: normal
}

lab-graph {
	position: relative;
	font-size: 1.2rem;
	color: #222;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-style: normal
}

lab-graph:before, lab-graph:after {
	content: " ";
	display: table
}

lab-graph:after {
	clear: both
}

.underunder {
	fill: none;
	stroke: #888;
	stroke-width: 1;
	stroke-dasharray: 2, 2
}

.study-info-irregularity a {
	color: #e8634d
}

.study-footer {
	width: 83.1932773109%;
	float: left;
	margin-right: 0.8403361345%
}

button,
.button {
	font-size: 1.4rem;
	background: #5BB403;
	border: 1px solid #00918d;
	padding: 12px 17px;
	margin: 20px 0;
	line-height: 1.2em;
	text-align: center;
	color: white;
	cursor: pointer;
	display: block;
	outline: none;
	font-weight: 600;
	font-style: normal;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px
}

button:hover,
.button:hover {
	background: #00918d
}

button:focus,
.button:focus {
	border-width: 3px;
	padding: 10px 15px
}

button.ghost,
.button.ghost {
	border: 1px solid #5BB403;
	color: #5BB403;
	background: transparent
}

button.ghost span,
.button.ghost span {
	color: #5BB403
}

button.ghost:hover,
.button.ghost:hover {
	border: 1px solid #00918d;
	color: #00918d
}

button.ghost:hover span,
.button.ghost:hover span {
	color: #00918d
}

button.ghost:focus,
.button.ghost:focus {
	border-width: 3px;
	padding: 10px 15px
}

button.ghost.disabled:hover, button.ghost[disabled]:hover,
.button.ghost.disabled:hover,
.button.ghost[disabled]:hover {
	background: #ededed;
	border-color: #888;
	color: #888
}

button.black,
.button.black {
	background: #1d4547;
	border-color: #fafafa
}

button.black:hover,
.button.black:hover {
	background: #00918d
}

button.black.active,
.button.black.active {
	background: #e8634d
}

button.black.active:hover,
.button.black.active:hover {
	background: rgba(232, 99, 77, 0.8)
}

button.extend,
.button.extend {
	width: 100%
}

button.confirm,
.button.confirm {
	background: #e8634d;
	border: 1px solid #e8634d
}

button.disabled, button[disabled],
.button.disabled,
.button[disabled] {
	background: #ededed;
	border-color: #888;
	color: #888;
	cursor: not-allowed
}

button.disabled:hover, button[disabled]:hover,
.button.disabled:hover,
.button[disabled]:hover {
	background: #ededed;
	border-color: #888;
	color: #888
}

button span,
.button span {
	font-weight: normal
}

a.button:hover {
	color: white
}

a.button.ghost:hover {
	color: #00918d
}

.button-single-icon {
	color: #222;
	clear: both;
	display: block
}

.button-single-icon span {
	color: #5BB403
}

.button-colapse {
	cursor: pointer;
	-moz-transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	position: relative
}

.button-colapse:before,
.button-colapse:after {
	content: " ";
	display: table
}

.button-colapse:after {
	clear: both
}

.button-colapse p {
	font-weight: 400;
	font-style: normal;
	font-size: 2.4rem;
	text-transform: uppercase;
	float: left;
	padding: 0
}

.button-colapse:before {
	position: absolute;
	font-family: 'wellbin-icon-font';
	font-size: 1.4rem;
	line-height: 2em;
	right: 0;
	top: 0;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-moz-transition: transform 0.3s ease-in-out;
	-webkit-transition: transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out
}

.button-colapse.open:before {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg)
}

.button-colapse:hover {
	opacity: .6
}

.corner-action-buttons {
	position: absolute;
	right: 0;
	top: 0;
	display: none;
	z-index: 1;
	margin: 24px 3.3613445378%
}

@media (min-width: 768px) {
	.corner-action-buttons {
		display: block
	}
}

.form-group {
	display: block;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	text-align: left;
	float: none;
	background: white;
	position: relative;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px
}

.form-group input[type="radio"],
.form-group input[type="checkbox"] {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	cursor: pointer;
	opacity: 0
}

.form-group input[type="radio"]:hover + span,
.form-group input[type="checkbox"]:hover + span {
	white-space: normal
}

.form-group input[type="radio"]:checked + span,
.form-group input[type="checkbox"]:checked + span {
	color: #222
}

.form-group input[type="radio"]:checked + span:after,
.form-group input[type="checkbox"]:checked + span:after {
	border-color: #5BB403
}

.form-group input[type="radio"]:checked + span:before,
.form-group input[type="checkbox"]:checked + span:before {
	color: #5BB403;
	-webkit-transform: scale(1) translateY(-50%);
	-moz-transform: scale(1) translateY(-50%);
	-ms-transform: scale(1) translateY(-50%);
	-o-transform: scale(1) translateY(-50%);
	transform: scale(1) translateY(-50%);
	font-weight: bold
}

.form-group input[type="radio"] + span,
.form-group input[type="checkbox"] + span {
	display: inline-block;
	position: relative;
	cursor: pointer;
	vertical-align: middle;
	padding: 20px 20px 20px 40px;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border: none;
	color: #888;
	-moz-transition: all 250ms ease-in-out;
	-webkit-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out
}

.form-group input[type="radio"] + span:after,
.form-group input[type="checkbox"] + span:after {
	left: 15px;
	position: absolute;
	content: '';
	display: inline-block;
	border: 1px solid #888;
	height: 12px;
	width: 12px
}

.form-group input[type="radio"] + span:before,
.form-group input[type="checkbox"] + span:before {
	position: absolute;
	display: inline-block;
	-moz-transition: margin 250ms ease-in-out, background 250ms ease-in-out, transform 250ms ease-in-out;
	-webkit-transition: margin 250ms ease-in-out, background 250ms ease-in-out, transform 250ms ease-in-out;
	transition: margin 250ms ease-in-out, background 250ms ease-in-out, transform 250ms ease-in-out
}

.form-group input[type="radio"] + span:after {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%) translateZ(0) scale(1.0001);
	-moz-transform: translateY(-50%) translateZ(0) scale(1.0001);
	transform: translateY(-50%) translateZ(0) scale(1.0001);
	-webkit-filter: blur(0px);
	-moz-filter: blur(0);
	-o-filter: blur(0);
	-ms-filter: blur(0);
	filter: blur(0);
	-webkit-perspective: 1000;
	backface-visibility: hidden
}

.form-group input[type="radio"] + span:before {
	background: transparent;
	content: '';
	left: 18px;
	height: 8px;
	width: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%) translateZ(0) scale(1.0001);
	-moz-transform: translateY(-50%) translateZ(0) scale(1.0001);
	transform: translateY(-50%) translateZ(0) scale(1.0001);
	-webkit-filter: blur(0px);
	-moz-filter: blur(0);
	-o-filter: blur(0);
	-ms-filter: blur(0);
	filter: blur(0);
	-webkit-perspective: 1000;
	backface-visibility: hidden
}

.form-group input[type="radio"]:checked + span:before {
	background: #5BB403;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%) translateZ(0) scale(1.0001);
	-moz-transform: translateY(-50%) translateZ(0) scale(1.0001);
	transform: translateY(-50%) translateZ(0) scale(1.0001);
	-webkit-filter: blur(0px);
	-moz-filter: blur(0);
	-o-filter: blur(0);
	-ms-filter: blur(0);
	filter: blur(0);
	-webkit-perspective: 1000;
	backface-visibility: hidden
}

.form-group input[type="checkbox"] + span:after {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%) translateZ(0) scale(1.0001);
	-moz-transform: translateY(-50%) translateZ(0) scale(1.0001);
	transform: translateY(-50%) translateZ(0) scale(1.0001);
	-webkit-filter: blur(0px);
	-moz-filter: blur(0);
	-o-filter: blur(0);
	-ms-filter: blur(0);
	filter: blur(0);
	-webkit-perspective: 1000;
	backface-visibility: hidden
}

.form-group input[type="checkbox"] + span:before {
	font-family: 'wellbin-icon-font';
	left: 17px;
	font-size: 10px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%) translateZ(0) scale(1.0001);
	-moz-transform: translateY(-50%) translateZ(0) scale(1.0001);
	transform: translateY(-50%) translateZ(0) scale(1.0001);
	-webkit-filter: blur(0px);
	-moz-filter: blur(0);
	-o-filter: blur(0);
	-ms-filter: blur(0);
	filter: blur(0);
	-webkit-perspective: 1000;
	backface-visibility: hidden;
	-webkit-transform: scale(0) translateY(-50%);
	-moz-transform: scale(0) translateY(-50%);
	-ms-transform: scale(0) translateY(-50%);
	-o-transform: scale(0) translateY(-50%);
	transform: scale(0) translateY(-50%);
	-moz-transition: ease-in-out 100ms, transform 250ms ease-in-out, color 250ms ease-in-out;
	-webkit-transition: ease-in-out 100ms, transform 250ms ease-in-out, color 250ms ease-in-out;
	transition: ease-in-out 100ms, transform 250ms ease-in-out, color 250ms ease-in-out
}

.form-group input[type="checkbox"]:checked + span:before {
	color: #5BB403
}

.form-group input[type="checkbox"]:focus + span:after {
	border-color: #5BB403
}

.form-group.another {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	border-bottom: 1px solid #ededed
}

.form-group.box input[type="radio"]:checked + span,
.form-group.box input[type="checkbox"]:checked + span {
	border-color: #5BB403
}

.form-group.box input[type="radio"] + span,
.form-group.box input[type="checkbox"] + span {
	border: 1px solid #888;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px
}

.form-group select {
@clearfix input [ type = "text" ];
	outline: 0;
	z-index: 2;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

.form-group.select:before {
	font-family: 'wellbin-icon-font';
	font-size: 1.4rem;
	display: inline-block;
	right: 16px;
	color: #5BB403;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	z-index: 1;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%) translateZ(0) scale(1.0001);
	-moz-transform: translateY(-50%) translateZ(0) scale(1.0001);
	transform: translateY(-50%) translateZ(0) scale(1.0001);
	-webkit-filter: blur(0px);
	-moz-filter: blur(0);
	-o-filter: blur(0);
	-ms-filter: blur(0);
	filter: blur(0);
	-webkit-perspective: 1000;
	backface-visibility: hidden
}

.form-group.date > span {
	right: 8px;
	color: white;
	background: #5BB403;
	border: 1px solid #00918d;
	padding: 8px;
	z-index: 10;
	cursor: pointer;
	-webkit-filter: none;
	-moz-filter: non;
	-o-filter: none;
	-ms-filter: none;
	filter: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%) translateZ(0) scale(1.0001);
	-moz-transform: translateY(-50%) translateZ(0) scale(1.0001);
	transform: translateY(-50%) translateZ(0) scale(1.0001);
	-webkit-filter: blur(0px);
	-moz-filter: blur(0);
	-o-filter: blur(0);
	-ms-filter: blur(0);
	filter: blur(0);
	-webkit-perspective: 1000;
	backface-visibility: hidden
}

.form-group.date > span:hover {
	background: #00918d
}

.form-group.date .datepicker {
	outline: none
}

.form-group.date .datepicker * {
	margin: 0 auto;
	outline: none
}

.form-group.date div[datepicker-popup-wrap] {
	position: absolute;
	right: 0;
	z-index: 12
}

.form-group.file {
	position: relative;
	color: #5BB403
}

.form-group.file:before {
	font-family: 'wellbin-icon-font';
	font-size: 2.4rem;
	color: #5BB403;
	position: absolute;
	right: 15px;
	top: 12px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%) translateZ(0) scale(1.0001);
	-moz-transform: translateY(-50%) translateZ(0) scale(1.0001);
	transform: translateY(-50%) translateZ(0) scale(1.0001);
	-webkit-filter: blur(0px);
	-moz-filter: blur(0);
	-o-filter: blur(0);
	-ms-filter: blur(0);
	filter: blur(0);
	-webkit-perspective: 1000;
	backface-visibility: hidden
}

.form-group.clipboard input[type="text"] {
	overflow: hidden;
	white-space: nowrap;
	height: 42px;
	background: white;
	max-width: 130px;
	float: left;
	margin: 20px 0;
	padding: 10px 14px;
	border-right: 0;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	-ms-border-radius: 4px 0 0 4px;
	-o-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px
}

@-moz-document url-prefix() {
	.form-group.clipboard input[type="text"] {
		height: 45px
	}
}

.form-group.clipboard button {
	float: left;
	font-weight: normal;
	font-size: 2.4rem;
	padding: 6px 12px;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	-ms-border-radius: 0 4px 4px 0;
	-o-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0
}

.form-group.clipboard button:focus {
	border-width: 1px
}

.form-group label {
	font-size: 1.4rem;
	text-align: left;
	width: 100%;
	padding: 15px 17px;
	position: absolute;
	left: 0;
	top: 0;
	line-height: 1.3rem;
	z-index: 0;
	color: #888;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	-moz-transition: top 0.3s ease-in-out, font-size 0.3s ease-in-out, color 0.3s ease-in-out;
	-webkit-transition: top 0.3s ease-in-out, font-size 0.3s ease-in-out, color 0.3s ease-in-out;
	transition: top 0.3s ease-in-out, font-size 0.3s ease-in-out, color 0.3s ease-in-out;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.form-group.left,
.form-group.right {
	padding-right: 30px
}

.form-group .text-highlight {
	font-size: 2.4rem
}

.form-group .text-small {
	font-size: 1.2rem
}

.radio-filter {
	display: block;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	text-align: left;
	float: none;
	background: white;
	position: relative;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px
}

.radio-filter input[type="radio"] {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	cursor: pointer;
	opacity: 0
}

.radio-filter input[type="radio"] + span {
	display: inline-block;
	position: relative;
	cursor: pointer;
	vertical-align: middle;
	padding: 5px;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border: none;
	color: #5BB403;
	-moz-transition: all 250ms ease-in-out;
	-webkit-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px
}

.radio-filter input[type="radio"]:checked + span {
	color: white;
	background: #5BB403
}

.form-list {
	margin: 15px auto
}

.form-list .label-animate {
	margin: 0 auto
}

.form-list .form-group {
	position: relative;
	list-style: none
}

.form-list .form-group input[type="text"],
.form-list .form-group input[type="date"],
.form-list .form-group input[type="password"],
.form-list .form-group input[type="email"],
.form-list .form-group input[type="number"],
.form-list .form-group select {
	font-size: 1.4rem;
	padding: 12px 17px;
	margin: 0;
	height: 58px;
	border-top: none;
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-moz-transition: padding 0.3s ease-in-out;
	-webkit-transition: padding 0.3s ease-in-out;
	transition: padding 0.3s ease-in-out
}

.form-list .form-group input[type="text"]:focus,
.form-list .form-group input[type="date"]:focus,
.form-list .form-group input[type="password"]:focus,
.form-list .form-group input[type="email"]:focus,
.form-list .form-group input[type="number"]:focus,
.form-list .form-group select:focus {
	border-color: #888
}

.form-list .form-group.date {
	z-index: 2
}

.form-list .form-group:first-child input[type="text"],
.form-list .form-group:first-child input[type="date"],
.form-list .form-group:first-child input[type="password"],
.form-list .form-group:first-child input[type="email"],
.form-list .form-group:first-child input[type="number"],
.form-list .form-group:first-child select {
	border-top: 1px solid #888;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-ms-border-radius: 3px 3px 0 0;
	-o-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0
}

.form-list .form-group:last-child input[type="text"],
.form-list .form-group:last-child input[type="date"],
.form-list .form-group:last-child input[type="password"],
.form-list .form-group:last-child input[type="email"],
.form-list .form-group:last-child input[type="number"],
.form-list .form-group:last-child select {
	border-bottom: 1px solid #888;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-ms-border-radius: 0 0 3px 3px;
	-o-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px
}

.form-list .form-group label {
	font-size: 1.4rem;
	text-align: left;
	width: 100%;
	padding: 21px 17px 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	color: #888;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	-moz-transition: top 0.3s ease-in-out, font-size 0.3s ease-in-out, color 0.3s ease-in-out;
	-webkit-transition: top 0.3s ease-in-out, font-size 0.3s ease-in-out, color 0.3s ease-in-out;
	transition: top 0.3s ease-in-out, font-size 0.3s ease-in-out, color 0.3s ease-in-out;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
	.form-list .form-group label {
		-moz-transition: none;
		-webkit-transition: none;
		transition: none
	}
}

@media only screen and (orientation: landscape) {
	.form-list .form-group label {
		-moz-transition: top 0.3s ease-in-out, font-size 0.3s ease-in-out, color 0.3s ease-in-out;
		-webkit-transition: top 0.3s ease-in-out, font-size 0.3s ease-in-out, color 0.3s ease-in-out;
		transition: top 0.3s ease-in-out, font-size 0.3s ease-in-out, color 0.3s ease-in-out
	}
}

.form-list .form-group.active input[type="text"],
.form-list .form-group.active input[type="date"],
.form-list .form-group.active input[type="password"],
.form-list .form-group.active input[type="email"],
.form-list .form-group.active input[type="number"],
.form-list .form-group.active select {
	padding: 12px 17px
}

@media (min-width: 768px) {
	.form-list .form-group.active input[type="text"],
	.form-list .form-group.active input[type="date"],
	.form-list .form-group.active input[type="password"],
	.form-list .form-group.active input[type="email"],
	.form-list .form-group.active input[type="number"],
	.form-list .form-group.active select {
		padding: 8px 17px 28px
	}
}

.form-list .form-group.active label {
	font-size: 1.2rem;
	color: #5BB403;
	height: 100%;
	top: 1rem
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
	.form-list .form-group.active label {
		display: none
	}
}

@media only screen and (orientation: portrait) {
	.form-list .form-group.active label {
		display: none
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (device-aspect-ratio: 2/3) and (-webkit-device-pixel-ratio: 2) {
	.form-list .form-group.active label {
		display: none
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) and (device-aspect-ratio: 40/71) and (-webkit-device-pixel-ratio: 2) {
	.form-list .form-group.active label {
		display: none
	}
}

@media (min-width: 768px) {
	.form-list .form-group.active label {
		display: block
	}
}

.form-list .form-group li {
	border: none;
	padding: 0
}

.form-list .form-group li:first-child {
	border: none
}

.label-animate {
	margin: 5px auto;
	border-radius: 3px;
	line-height: 1;
	position: relative;
	-webkit-transform: translateZ(0)
}

.label-animate input[type="text"],
.label-animate input[type="date"],
.label-animate input[type="password"],
.label-animate input[type="email"],
.label-animate input[type="number"],
.label-animate select {
	padding: 0;
	font-size: 1.4rem;
	border: 1px solid #888;
	padding: 12px 17px;
	-moz-transition: padding 0.3s ease-in-out;
	-webkit-transition: padding 0.3s ease-in-out;
	transition: padding 0.3s ease-in-out
}

.label-animate input[type="text"]:focus,
.label-animate input[type="date"]:focus,
.label-animate input[type="password"]:focus,
.label-animate input[type="email"]:focus,
.label-animate input[type="number"]:focus,
.label-animate select:focus {
	border-color: #5BB403
}

.label-animate label {
	font-size: 1.4rem;
	text-align: left;
	width: 100%;
	padding: 21px 17px 0;
	position: absolute;
	pointer-events: none;
	left: 0;
	top: 0;
	z-index: 2;
	color: #888;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	-moz-transition: top 0.3s ease-in-out, font-size 0.3s ease-in-out, color 0.3s ease-in-out;
	-webkit-transition: top 0.3s ease-in-out, font-size 0.3s ease-in-out, color 0.3s ease-in-out;
	transition: top 0.3s ease-in-out, font-size 0.3s ease-in-out, color 0.3s ease-in-out;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.label-animate.active input[type="text"],
.label-animate.active input[type="date"],
.label-animate.active input[type="password"],
.label-animate.active input[type="email"],
.label-animate.active input[type="number"],
.label-animate.active select {
	padding: 12px 17px
}

@media (min-width: 768px) {
	.label-animate.active input[type="text"],
	.label-animate.active input[type="date"],
	.label-animate.active input[type="password"],
	.label-animate.active input[type="email"],
	.label-animate.active input[type="number"],
	.label-animate.active select {
		padding: 8px 17px 28px
	}
}

.label-animate.active label {
	font-size: 1.2rem;
	color: #5BB403;
	height: 100%;
	top: 1rem
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
	.label-animate.active label {
		display: none
	}
}

@media only screen and (orientation: portrait) {
	.label-animate.active label {
		display: none
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (device-aspect-ratio: 2/3) and (-webkit-device-pixel-ratio: 2) {
	.label-animate.active label {
		display: none
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) and (device-aspect-ratio: 40/71) and (-webkit-device-pixel-ratio: 2) {
	.label-animate.active label {
		display: none
	}
}

@media (min-width: 768px) {
	.label-animate.active label {
		display: block
	}
}

.scale {
	background-color: white;
	z-index: 0;
	margin: 0;
	border-radius: 4px;
	display: table;
	width: 100%;
	float: left
}

@media (min-width: 768px) {
	.scale {
		width: 75%;
		margin-right: 15px
	}
}

.scale input {
	display: none
}

.scale input:checked + span {
	color: white;
	background: #5BB403
}

.scale label {
	display: table-cell;
	width: auto;
	padding: 0;
	margin: 0;
	text-align: center;
	border: 1px solid #888;
	border-right: none
}

.scale label:first-child {
	border-radius: 4px 0 0 4px
}

.scale label:last-child,
.scale label.last {
	border-radius: 0 4px 4px 0;
	border-right: 1px solid #888
}

.scale label.another {
	margin-top: 15px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	border-bottom: 1px solid #888
}

.scale span {
	display: block;
	position: relative;
	cursor: pointer;
	vertical-align: middle;
	padding: 12px 17px;
	color: #888
}

.scale span:hover {
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out
}

.scale + span {
	display: inline-block;
	float: none;
	padding: 10px 0
}

@media (min-width: 768px) {
	.scale + span {
		float: left
	}
}

.scale .first {
	border-radius: 4px 0 0 4px
}

.scale .last {
	border-radius: 0 4px 4px 0
}

@media (min-width: 768px) {
	.form-inline .form-group {
		margin-right: 1%;
		float: left;
		width: 49%
	}
}

@media (min-width: 992px) {
	.form-inline .form-group {
		margin-right: 1%;
		width: 32%
	}
}

.relative {
	position: relative
}

.left {
	float: left;
	display: block;
	margin-right: 10px
}

.right {
	float: right;
	display: block;
	margin-left: 10px
}

.center {
	margin-left: auto;
	margin-right: auto;
	display: block
}

.align-vertical {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%) translateZ(0) scale(1.0001);
	-moz-transform: translateY(-50%) translateZ(0) scale(1.0001);
	transform: translateY(-50%) translateZ(0) scale(1.0001);
	-webkit-filter: blur(0px);
	-moz-filter: blur(0);
	-o-filter: blur(0);
	-ms-filter: blur(0);
	filter: blur(0);
	-webkit-perspective: 1000;
	backface-visibility: hidden
}

.align-horizontal {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%) translateZ(0) scale(1.0001);
	-moz-transform: translateX(-50%) translateZ(0) scale(1.0001);
	transform: translateX(-50%) translateZ(0) scale(1.0001);
	-webkit-filter: blur(0px);
	-moz-filter: blur(0);
	-o-filter: blur(0);
	-ms-filter: blur(0);
	filter: blur(0);
	-webkit-perspective: 1000;
	backface-visibility: hidden
}

.align-center {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%) translateZ(0) scale(1.0001);
	-moz-transform: translate(-50%, -50%) translateZ(0) scale(1.0001);
	transform: translate(-50%, -50%) translateZ(0) scale(1.0001)
}

.hide {
	display: none
}

.show {
	display: block
}

.hidden {
	opacity: 0
}

.two-columns {
	width: auto;
	margin-right: 0
}

.two-columns .column {
	float: left;
	width: 100%;
	padding-right: 0;
	background-clip: content-box
}

.two-columns:before,
.two-columns:after {
	content: " ";
	display: table
}

.two-columns:after {
	clear: both
}

.two-columns .column {
	margin: 15px 0
}

@media (min-width: 768px) {
	.two-columns {
		width: auto;
		margin-right: -10px
	}

	.two-columns .column {
		float: left;
		width: 50%;
		padding-right: 10px;
		background-clip: content-box
	}

	.two-columns .column {
		margin: 0
	}
}

.three-columns {
	width: auto;
	margin-right: 0
}

.three-columns .column {
	float: left;
	width: 100%;
	padding-right: 0;
	background-clip: content-box
}

.three-columns:before,
.three-columns:after {
	content: " ";
	display: table
}

.three-columns:after {
	clear: both
}

.three-columns .column {
	margin: 15px 0
}

@media (min-width: 768px) {
	.three-columns {
		width: auto;
		margin-right: -10px
	}

	.three-columns .column {
		float: left;
		width: 50%;
		padding-right: 10px;
		background-clip: content-box
	}

	.three-columns .column {
		margin: 0
	}
}

@media (min-width: 992px) {
	.three-columns {
		width: auto;
		margin-right: -10px
	}

	.three-columns .column {
		float: left;
		width: 33.3333333333%;
		padding-right: 10px;
		background-clip: content-box
	}

	.three-columns .column {
		margin: 0
	}
}

.wrapper-center {
	max-width: 660px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	display: block
}

.wrapper-white {
	background: white;
	padding: 15px 25px;
	margin: 15px 0;
	border: 1px solid #ededed;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	position: relative
}

.wrapper-white:before,
.wrapper-white:after {
	content: " ";
	display: table
}

.wrapper-white:after {
	clear: both
}

.clearfix {
	width: 100%;
	display: inline-block;
	clear: both
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table
}

.clearfix:after {
	clear: both
}

.alert {
	position: relative;
	margin: 10px 0;
	padding: 20px 17px;
	border: 1px solid #5BB403;
	background: #e6fffe;
	color: #5BB403;
	top: 0;
	text-align: left;
	max-width: 640px;
	margin: 24px auto;
	z-index: 2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px
}

.alert span {
	color: #5BB403
}

.alert.warning {
	border: 1px solid #e8634d;
	background: #fff0f4;
	color: #e8634d
}

.alert.warning span {
	color: #e8634d
}

.alert.warning .icon-cross.close {
	color: #e8634d
}

.alert.success {
	border: 1px solid #00b752;
	background: #e9fff2;
	color: #00b752
}

.alert.success span {
	color: #00b752
}

.alert.success .icon-cross.close {
	color: #00b752
}

.alert .open {
	display: block
}

.alert .icon-cross.close {
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
	font-weight: bold
}

.alert .message {
	padding: 5px;
	margin: 5px 0
}

.alert .message .icon-cross {
	position: initial;
	right: 0
}

.alert .message p {
	padding: 0;
	display: inline-block;
	margin-left: 15px
}

.has-error {
	color: #e8634d
}

.has-error label,
.has-error input,
.has-error select {
	border-color: #e8634d !important
}

.text-highlight {
	font-size: 2.4rem
}

.text-small {
	font-size: 1.2rem
}

.text-left {
	text-align: left
}

.text-right {
	text-align: left
}

.text-center {
	text-align: center
}

.text-color {
	color: #5BB403
}

.text-color-light {
	color: #B1D8E6
}

.unordered-dot-list {
	list-style: none
}

.unordered-dot-list li:before {
	content: "·";
	vertical-align: middle;
	font-size: 16px;
	padding-right: 6px
}


/********/

.details-item-list .item-name {
	width: 30%;
}

.details-item-list .item-value {
	width: 70%;
}


@media (min-width: 768px) {
	.observation-primary-content {
		width: 30%;
	}

	.observation-secondary-content {
		width: 30%;
	}

	.observation-tertiary-content {
		width: 40%;
	}

	/* .observation-extended-content */
	.observation-extended-content .observation-primary-content {
		width: 35%;
	}

	.observation-extended-content .observation-secondary-content {
		width: 20%;
	}

	.observation-extended-content .observation-tertiary-content {
		width: 30%;
	}

	.observation-extended-content .observation-generic-content {
		width: 15%;
	}

	.observation-extended-content .observation-details .details-item-list .item-name {
		width: 40%;
	}

	.observation-extended-content .observation-details .details-item-list .item-value {
		width: 60%;
	}
}
