
$interpretation-colors: (
	great: #43d186,
	good: #e1e52e,
	so-so: #f4c540,
	bad: #ef986c,
	danger: #ed6f62,
	unknown: #747474,
	undisclosed: black
);


$actions: (
	contextual: #1D4547,
	contextual-hovered: #0e2932,
	add: #5BB403,
	remove: #CC0001,
	icon: #1da1f2
);

$read-text-color: (
	dark: #222222,
	regular: #888888,
	semi: #E4E5E6,
	light: #ededed,
	lighter: #fafafa,
	sub: #999999
);

$unsafe-color: (
	regular: #e8634d,
	light: #fff0f4
);

$safe-color: (
	regular: #95c572,
	light: #e0f6cd
);
