
$interpretation-colors: (
	great: #43d186,
	good: #e1e52e,
	so-so: #f4c540,
	bad: #ef986c,
	danger: #ed6f62,
	unknown: #747474,
	undisclosed: black,
	ambiguous-on: #F4BD2F,
	ambiguous-off: #2d2101
);

// #519DFF

$unknown-interpretation-colors: (
	darkest: #0052ac,
	darker: #0069e0,
	dark: #0074ff,
	regular: #5ba0ff,
	light: #73adff,
	lighter: #8dbdff,
	lightest: #9ec6ff
);

$actions: (
	contextual: #1D4547,
	contextual-hovered: #0e2932,
	add: #5BB403,
	remove: #CC0001,
	icon: #1da1f2
);

$read-text-color: (
	dark: #222222,
	regular: #888888,
	semi: #E4E5E6,
	light: #ededed,
	lighter: #fafafa,
	sub: #999999
);

$unsafe-color: (
	regular: #e8634d,
	light: #fff0f4
);

$safe-color: (
	regular: #95c572,
	light: #e0f6cd
);

$range-color-great: map-get($interpretation-colors, great);
$range-color-good: map-get($interpretation-colors, good);
$range-color-so-so: map-get($interpretation-colors, so-so);
$range-color-bad: map-get($interpretation-colors, bad);
$range-color-danger: map-get($interpretation-colors, danger);
$range-color-unknown: map-get($interpretation-colors, unknown);

$range-color-unknown-on: map-get($interpretation-colors, ambiguous-on);
$range-color-unknown-off: map-get($interpretation-colors, ambiguous-off);

$range-color-unknown-7: map-get($unknown-interpretation-colors, darkest);
$range-color-unknown-6: map-get($unknown-interpretation-colors, darker);
$range-color-unknown-5: map-get($unknown-interpretation-colors, dark);
$range-color-unknown-4: map-get($unknown-interpretation-colors, regular);
$range-color-unknown-3: map-get($unknown-interpretation-colors, light);
$range-color-unknown-2: map-get($unknown-interpretation-colors, lighter);
$range-color-unknown-1: map-get($unknown-interpretation-colors, lightest);

