
$interpretation-colors: (
	great: #43d186,
	good: #e1e52e,
	so-so: #f4c540,
	bad: #ef986c,
	danger: #ed6f62,
	unknown: #747474,
	undisclosed: black
);

// #519DFF

$unknown-interpretation-colors: (
	darkest: #0052ac,
	darker: #0069e0,
	dark: #0074ff,
	regular: #5ba0ff,
	light: #73adff,
	lighter: #8dbdff,
	lightest: #9ec6ff
);

//$unknown-interpretation-colors: (
//	darkest: #000000,
//	darker: #484848,
//	dark: #707070,
//	regular: #8A8A8A,
//	light: #959595,
//	lighter: #B4B4B4,
//	lightest: #CACACA
//);

$actions: (
	contextual: #1D4547,
	contextual-hovered: #0e2932,
	add: #5BB403,
	remove: #CC0001,
	icon: #1da1f2
);

$read-text-color: (
	dark: #222222,
	regular: #888888,
	semi: #E4E5E6,
	light: #ededed,
	lighter: #fafafa,
	sub: #999999
);

$unsafe-color: (
	regular: #e8634d,
	light: #fff0f4
);

$safe-color: (
	regular: #95c572,
	light: #e0f6cd
);
