@import "variables";

.split-content {
	display: table;
	text-align: left;
	width: 100%
}

.split-content .primary-content,
.split-content .secondary-content {
	width: 100%;
	display: table-cell;
}

@media (min-width: $screen-tablet) {
	.split-content .primary-content {
		width: 75%;
	}
}

@media (min-width: $screen-tablet) {
	.split-content .secondary-content {
		width: 25%;
	}
}
