.content-aligned {
	display: inline-block;
	vertical-align: bottom;
	width: 100%
}

@media (min-width: 992px) {
	.content-aligned {
		display: table-cell;
		vertical-align: middle
	}
}
.item-value-help {
	font-size: 12px;
	line-height: 13px;
	color: #bcbcbc;
	font-weight: normal;
}

.lab-diagnostic-report-info {
	width: 70%;
	margin-bottom: 20px;
}

.details-item-list-aligned .details-item .item-value {
	text-align: right;
}

.lab-diagnostic-report-info .details-item-list {
	display: table-cell;
	word-break: break-all;
	width: 50%;
	padding-right: 20px;
}








.split-content {
	display: table;
	text-align: left;
	width: 100%
}

.split-content .primary-content,
.split-content .secondary-content {
	width: 100%;
	display: table-cell;
}

@media (min-width: 768px) {
	.split-content .primary-content {
		width: 75%;
	}
}

@media (min-width: 768px) {
	.split-content .secondary-content {
		width: 25%;
	}
}


.has-error label,
.has-error input,
.has-error select {
	border-color: #e8634d !important
}



.details-item-list .item-name {
	width: 30%;
}

.details-item-list .item-value {
	width: 70%;
	padding-left: 4px;
}

.compact-observation.observation-gallery-item {
	padding: 10px;
}
